<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{$zzField['meta_title']}_{:config('WEB_SITE_TITLE')}</title>
  <meta name="keywords" content="{$zzField['keywords']}" />
  <meta name="description" content="{$zzField['description']}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <script type="text/javascript" src="__LIB__/layui/layui.js"></script>
  <link rel="stylesheet" type="text/css" href="__LIB__/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
  <!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>
<body>

{include file="head.html"}


  <!-- about-content -->
  <div class="about-content">
    <div class="about-big-img">
      <div class="text_box">
        <div class="text">
          <h3>我们的信念</h3>
          <p>我们有必要恢复对我们的理想、命运和我们自身的信念。我们活在世上不只是为了享乐和自我满足。我们负有创造历史的使命——不漠视过去、不毁弃过去、不向过去倒退，而是发奋向前、积极向上，为未来开辟新的前景。
        </div>
      </div>
    </div>
    <div class="about-info">
      <div class="img-texts">
        <div class="item">
          <div class="layui-fluid">
            <div class="layui-row">
              <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 img-center">
                <img src="__IMG__/gy_img1.jpg">
              </div>
              <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
                <div class="text">
                  <h5>About us</h5>
                  <h4>关于我们</h4>
                  <p>
                    {$zzField['content']}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="coreTeam_box">
        <div class="writebg"></div>
        <div class="coreTeam">
          <div class="layui-fluid">
            {zz:type typeid="94"}
            <h3>{$field['title']}</h3>
            <h4>{$field['description']}</h4>
            {/zz:type}
            <div class="layui-row layui-col-space15">
              {zz:arclist row="6" typeid="94" orderby="sort asc"}
              <div class="layui-col-xs12 layui-col-sm4 layui-col-md4">
                <div class="imgTxt">
                  <img src="{$field['cover_path']}" alt="">
                  <h6>{$field['title']}</h6>
                </div>
              </div>
              {/zz:arclist}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- about-content -->


{include file="footer.html"}
</body>
</html>