{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">行为日志</div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">
                    <div class="zz-operate-btn-group">
                        <a class="layui-btn ajax-post layui-bg-blue confirm" href="{:url('clear')}">清空</a>
                        <a class="layui-btn layui-btn-danger zz-btn-delete-all" href="{:url('delactionlog')}">批量删除</a>
                    </div>
                    <form action="{:url('')}" class="layui-form zz-form-search zz-form zz-form-right">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="title" placeholder="请输入行为名称" value="{$title}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit>
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th class=" layui-table-col-special" width="18px">
                                <input type="checkbox" lay-filter="zz-checkbox-table" lay-skin="primary">
                            </th>
                            <th>编号</th>
                            <th>行为名称</th>
                            <th>执行者</th>
                            <th>执行时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo"}
                            <tr>
                                <td><input type="checkbox" class="zz-table-chk-item" value="{$vo.id}" lay-skin="primary"></td>
                                <td>{$vo.id}</td>
                                <td>{$vo.title}</td>
                                <td>
                                   {$vo.username}
                                </td>
                                <td>{:date('Y-m-d H:i:s',$vo['create_time'])}</td>
                                <td>
                                    <a href="{:url('edit_action_log?id='.$vo['id'])}" class="layui-btn layui-btn-xs layui-btn-normal open-win" title="详细">详细</a>
                                    <a href="{:url('delactionlog?ids='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-xs confirm ajax-post">删除</a>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$page|raw}

                </div>
            </div>
        </div>
    </div>
</div>

{/block}