{extend name="public/base" /}
{block name="body"}
<style>
    .layui-form-selected dl {
        z-index: 9999;
    }
</style>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">编辑产品</div>
            <div class="layui-card-body">
                <form action="{:url('')}" class="layui-form" lay-filter="example" method="post">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">基本信息</li>
                            <li>产品设置</li>
                        </ul>
                        <div class="layui-tab-content layui-row">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">产品标题：</label>
                                    <div class="layui-input-block">
                                        <input class="layui-input" lay-verify="required" name="title"
                                               type="text" value="{$info['title']}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">所属分类：</label>
                                    <div class="layui-input-inline">
                                        <select name="category_id">
                                            {volist name="dclist" id="vo"}
                                            <option value="{$vo.id}" {$info['category_id']==$vo.id?'selected':''}>{$vo.title}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">产品图片：</label>
                                    <div class="layui-input-block">
                                        <div class="zz-upload-pic">
                                            <button class="layui-btn zzBtnUpload" multi="true" type="button">
                                                <i class="layui-icon">&#xe67c;</i>上传图片
                                            </button>
                                            <input class="zz-upload-value" name="piclist" type="hidden" value="{$infos['piclist']}">
                                            <div class="zz-upload-pic-show layui-row"></div>
                                        </div>
                                        <script src="__JS__/upload.js"></script>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">价格：</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" lay-verify="required|number" placeholder="￥" name="price"
                                               type="text" value="{$infos['price']}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">市场价：</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" lay-verify="required|number" placeholder="￥" name="market_price"
                                               type="text" value="{$infos['market_price']}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">产品内容：</label>
                                    <div class="layui-input-block">
                            		<script style="height:400px" id="editor" name="content" type="text/plain">
										{$infos['content']|raw}
									</script>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">设置属性：</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="display" lay-text="显示|隐藏" lay-skin="switch" value="{$info.display}" {$info.display==1?'checked':''}>
                                        <input type="checkbox" name="isrecommend" lay-text="推荐|不推荐" lay-skin="switch" value="{$info.isrecommend}" {$info.isrecommend==1?'checked':''}>
                                        <input type="checkbox" name="istop" lay-text="置顶|不置顶" lay-skin="switch" value="{$info.istop}" {$info.istop==1?'checked':''}>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">排序：</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" lay-verify="required" name="sort" type="text" value="{$info['sort']}">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">外链：</label>
                                    <div class="layui-input-block">
                                        <input class="layui-input" name="link_str"
                                               placeholder="若填写，该产品将直接跳转到该链接" type="text" value="{$info['link_str']}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">关键字：</label>
                                    <div class="layui-input-block">
                                        <input class="layui-input" name="keywords" placeholder="产品关键词，用于搜索引擎优化"
                                               type="text" value="{$info['keywords']}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">描述：</label>
                                    <div class="layui-input-block">
                                        <textarea class="layui-textarea" name="description" placeholder="产品描述，用于搜索引擎优化">{$info['description']}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-filter="zz-btn-submit" lay-submit="" type="submit">立即提交
                            </button>
                            <button class="layui-btn layui-btn-primary zz-btn-cancel" type="button">取消</button>
                        </div>
                    </div>
                    <input name="id" type="hidden" value="{$id}">
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__LIB__/ueditor/ueditor.config.js"></script>
<script src="__LIB__/ueditor/ueditor.all.min.js"></script>
<script src="__LIB__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    var ue = UE.getEditor('editor',{
        serverUrl: "{:url('Ueditor/index')}",
    });
</script>
{/block}